argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref @ file:///Users/ec2-user/ci_py311/asgiref_1678390266874/work
bcrypt==4.0.1
boto3==1.34.27
botocore==1.34.27
cffi==1.16.0
Django @ file:///Users/ec2-user/ci_py311/django_1678411010555/work
django-storages==1.14.2
Faker==19.6.2
fontawesomefree==6.4.2
jmespath==1.0.1
Pillow==10.0.1
pycparser==2.21
python-dateutil==2.8.2
s3transfer==0.10.0
six==1.16.0
sqlparse @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cb77ukgrpu/croot/sqlparse_1690901947630/work
urllib3==2.0.7
