<!DOCTYPE html>
{% extends "portfolioApplication/base.html" %}
  {% block body_block %}
    <h1 style="text-align: center;">Contact.</h1>
    <div class="contact">
      <h3>Let's collaborate! Reach out for projects, inquiries, or just a friendly chat.
      </h3>
      <div class="contact-button">
        <a href="mailto:loisaleghe@cmail.carleton.ca ?subject=Reaching out from Portfolio!">
          <button type="button" class="contact-btn">
              <span>GET IN TOUCH!</span>
          </button>
          <a/>
      </div>
    </div>
  {% endblock %}
