<!DOCTYPE html>
{% extends "portfolioApplication/base.html" %}
  {% block body_block %}
  <section>
    <div class="me">
      <h1>Who Am I</h1>
    </div>
    <div class="hiClass">
      Hi, I'm
      <div class="highlight">Lois</div>
    </div>
    <div style="font-size: 30px; text-align:center;margin-top: 10px;"> I am a </div>
      <div class="roleNames"><span id="role"></span></div>
      <!-- <svg width="100" height="100">
        <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
      </svg>-->
    <script>
   var typed = new Typed('#role', {
     strings: [
       "Software Engineer",
       "Full Stack Developer",
       "Machine Learning Enthusiast",
       "Artificial Intelligence Enthusiast"
     ],
     typeSpeed: 60,
     backSpeed: 60,
     loop: true
   });
   </script>
  </section>
 <section style="text-align:center;">
   <br><br>
   <h3>Get to know</h3>
   <br>
   <a href="https://www.linkedin.com/in/lois-aleghe-2b754b1a0/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl " style="color: #c70039;"></i></a>
   <a href="https://github.com/loisaleghe" target="_blank"><i class="fa-brands fa-github fa-2xl" style="color: #c70039;"></i></a>
 </section>

  {% endblock %}
