<!DOCTYPE html>
{% extends "portfolioApplication/base.html" %}
  {% block body_block %}
  <div style="margin-top: 50px;" class="intro">
  <div>
    <div class="me">
      <h1>Who Am I</h1>
    </div>
    <div class="hiClass">
      Hi, I'm
      <div class="highlight">Lois</div>
    </div>
    <h3 style="text-align:center;margin-top: 10px; font-size:30px;"> I am a </h3>
      <div class="roleNames"><span id="role"></span></div>
    <script>
   var typed = new Typed('#role', {
     strings: [
       "Software Engineer",
       "Full Stack Developer",
       "Machine Learning Enthusiast",
       "Artificial Intelligence Enthusiast"
     ],
     typeSpeed: 60,
     backSpeed: 60,
     loop: true
   });
   </script>
 </div>
 <div style="text-align:center; margin-top: 50px;">
   <h3 style="font-size:30px;">Get to know</h3>
   <br>
   <a href="https://www.linkedin.com/in/lois-aleghe-2b754b1a0/" target="_blank"><i class="fa-brands fa-linkedin fa-3x " style="color: #c70039;"></i></a>
   <a href="https://github.com/loisaleghe" target="_blank"><i class="fa-brands fa-github fa-3x" style="color: #c70039;"></i></a>
   <div id="particle-container"></div>
 </div>
 </div>
  {% endblock %}
