<!DOCTYPE html>
{% extends "portfolioApplication/base.html" %}
{% load static %}
  {% block body_block %}
  <section>
    <h1>Projects.</h1>
    <div class="project">
      <h2>Vocabulary Builder</h2>
      <button type="button" class="button-details showOverlayButton" data-target="overlay1">
          <span>FOR MORE INFORMATION</span>
      </button>
      <div class="overlay-container" id ="overlay1">
        <div class="card overlay" >
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Motivation</h3>
              <p class="card-text">To create an app that would allow a user to enter a word, find its
              definition, identify synonyms and antonyms for the word, and show
             related words in a bubble diagram.
             <br>
             The purpose of this project is to help improve an individual's vocabulary
             by providing various definitions of an inserted word along side at most
             ten synonyms for better understanding.</p>
             <h3 class="card-title">Tech Stack</h3>
             <p class="card-text">JavaScript, HTML, CSS, React, Meriam Webster Thesaurus API,
               Meriam Webster Dictionary API, Datamuse API</p>
               <h6 class="card-title">Click link below to see Github and Deployed App</h6>
               <a href="https://github.com/loisaleghe/project1" target="_blank"><i class="fa-brands fa-github fa-2xl" style="color: black;"></i></a>
               <a href="https://loisaleghe.github.io/project1/" target="_blank"><i class="fa-solid fa-display fa-2xl" style="color:black;" ></i></a>
            </div>
          </div>
        </div>
      </div>

      <span>
        <img src="{% static "/jpegs/vocabulary.jpeg" %}" alt="">
      </span>
    </div>

    <div class="project">
      <h2>Elite Valet</h2>
      <button type="button" class="button-details showOverlayButton" data-target="overlay2">
          <span>FOR MORE INFORMATION</span>
      </button>
      <div class="overlay-container" id ="overlay2">
        <div class="card overlay" >
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Motivation</h3>
              <p class="card-text">To create an app that would allows owners to store information of
                customers cars that are parked in their system and technically confirm if the user has paid for
                packing ticket or not
             <br>
             The purpose of this project is to help owners stay organized. Usually users can put in information about
           their cars including the make of the car and license plate number, the owner who signs in as admin
         then confirms if user paid for packing or not, evidently for this to happen, the admin is able to see every user's car
       and can edit or delete if needed be.</p>
             <h3 class="card-title">Tech Stack</h3>
             <p class="card-text">JavaScript, HTML, CSS, Ruby on Rails</p>
               <h6 class="card-title">Click link below to see Github</h6>
               <a href="https://github.com/loisaleghe/elitevalet" target="_blank"><i class="fa-brands fa-github fa-2xl" style="color: black;"></i></a>
            </div>
          </div>
        </div>
      </div>

      <span>
        <img src="{% static "/jpegs/elitevalet.png" %}" alt="">
      </span>
    </div>

    <div class="project">
      <h2>DigiScroll</h2>
      <button type="button" class="button-details showOverlayButton" data-target="overlay3">
          <span>FOR MORE INFORMATION</span>
      </button>
      <div class="overlay-container" id ="overlay3">
        <div class="card overlay">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Motivation</h3>
              <p class="card-text">To create an app that
                would allow a user to stay organized and on top of planned
                activities.
             <br>
             The purpose of this project is to help individiuals store notes in a
             safe place where they don't have to worry about the data being lost
             as long as they remember their username and password. Aside from
             creating a place to store information, another important reason for
             this project is for user's authentication.</p>
             <h3 class="card-title">Tech Stack</h3>
             <p class="card-text">JavaScript, HTML, CSS, React </p>
               <h6 class="card-title">Click link below to see Github</h6>
               <a href="https://github.com/loisaleghe/DigiScrolls" target="_blank"><i class="fa-brands fa-github fa-2xl" style="color: black;"></i></a>
            </div>
          </div>
        </div>
      </div>

      <span>
        <img src="{% static "/jpegs/scroll.jpeg" %}" alt="">
      </span>
    </div>

  </section>
  {% endblock %}
