@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, html,body{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	font-family: 'PT Sans',monospace;
	perspective:800px;
}
body{
	width:100%;
	min-height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
.timeline{
	width:800px;
	color:#fff;
	padding-top:30px;
  padding-bottom:30px;
  padding-left: 400px;
	box-shadow:none;
  animation: fadeIn 3s;
}
.timeline ul{
	list-style-type:none;
	border-left:4px solid rgb(199, 0, 57);
	padding:10px 5px;
}
.timeline ul li{
	padding:20px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline ul li span{
	padding:12px 5px;
	text-align:center;
}
.timeline-outline {
	clip-path: polygon(0 0,95% 0,100% 50%,95% 100%,0 100%);
	position: absolute;
	left: -18em;
	top: 6px;
	padding: 1px;
	height: 52px;
	box-sizing: border-box;
	background-color:rgb(199, 0, 57);
	width:70%;
}
.timeline ul li .content h3{
	color:black;
	font-size:17px;
	padding-top:5px;
  font-weight: bold;
}
.timeline ul li .content h4{
	color:black;
	font-size:14px;
	padding-top:0px;
  font-weight: bold;
}
.timeline ul li .content p{
  color:black;
	padding:5px 0px 15px 0px;
	font-size:15px;
  font-weight: lighter;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:white;
  border:3px solid rgb(199, 0, 57);
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
section{
	display: flex;
 	flex-direction: column;
 	align-items: center;
}
/* .timeline ul li:hover{
	transform: scale(1.5);
} */
/* .timeline ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
} */
@media(max-width:420px){
	.timeline{
		width:100%;
		padding:30px 0px 30px 10px;
		margin-left: 0px;
	}
	.timeline ul li .content h3{
		color:black;
		font-size:15px;
		margin-top: 40px;
	}
	.timeline ul li:before{
		left:-22px;
	}
	.timeline ul li .content{
		text-align: left;
	}
	.timeline-outline {
		display:inline-block;
	background-color:rgb(199, 0, 57);
	padding:2px 5px;
	font-size:15px;
	text-align:center;
	left: 0;
	height: 45px;
	}

}

@media (max-width:300px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:black;
		font-size:15px;
	}

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
